<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMUlTTFyso2HJb3SejI-lY6OQFh1L4GI4</string>
	<key>GCM_SENDER_ID</key>
	<string>583386623484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khmerDubberMobile</string>
	<key>PROJECT_ID</key>
	<string>khmer-movie-dubber</string>
	<key>STORAGE_BUCKET</key>
	<string>khmer-movie-dubber.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583386623484:ios:919a50fcfb0e568b5d5679</string>
</dict>
</plist>